/* ----GLOBAL---- */
* {
    margin: 0;
    font-family: sans-serif;
}
body {
    background-image: url(../img/wallpaperDesktopHD.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: clamp(.7rem, min(2.5vh, 2.5vw), 1rem);
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

/* ----Todo dentro del BODY---- */

/* ----Iconos escritorio---- */
nav {
    display: flex;
    flex-direction: column;
    width: 110px;
}


.taskbarBox a div{
    margin-bottom: 20px;
}

.fa-trash {
    color: #E5EBEE;
    margin-top: 10px;
    text-shadow: 0 0 2px black;
}

.fa-desktop {
    color: #868E95;
    text-shadow: 0 0 2px black;
}

.fa-folder-open {
    color: #FED36C;
    text-shadow: 0 0 2px black;
}

.fa-edge {
    color: #30BEDD;
    text-shadow: 0 0 2px black;
}

.fa-facebook-messenger {
    color: #0098F6;
    text-shadow: 0 0 2px black;
}
