html {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}

html:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.4;
    background-image: url(../img/wallpaper-nieve.gif);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url(../img/wallpaperAkazaHD.jpg);
    background-size: cover;
    background-position: top;

    font-family: monospace;
}

body * {
    z-index: 1;
}

header img {
    height: 150px;    
    width: auto;
}

form {
    display: flex;
    align-items: center;    
}

section {
    height: 150px;
}

input[type=search]{
    width: 60vw;
    max-width: 600px;
    min-width: 250px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10;
    
    font-size: 1.2rem;

    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 9px;
    
    transition: all .2s ease-out;
}

input[type=search]:focus {
    border-color: #0090FC;
    box-shadow: 0 0 6px deepskyblue;

    color: #2FFB4B;
    background: #000401;
    outline: 0
}

.btn {
    height: 40px;
    font-size: 1.1rem;
}

/* @media screen and (max-width: 800px){} */